* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    background-color: white;
min-height: 100vh;
}

h1 {
    font-size: 4rem;
}

#header {
    /* background-color: #ffb826; */
/* background-color: rgb(125, 52, 235); */
/* color: white; */
width: 100%;
min-height: 50px;
/* background-color: white; */
}

ul {
display: block;
width: fit-content;
margin: 0 auto;
padding: 20px;
}

li {
list-style-type: none;
display: inline-block;
/* padding: 10px; */
margin-right: 10px;
}

li a {
text-decoration: none;
color: white;
font-size: 1.3vw;
border-radius: 4px;
padding: 10px;
}

li a:hover {
background-color: white;
/* color: orange; */
color: black;
}

.active {
    border-bottom: 2px solid white;
}

/* Phone Navigation */

.nav-icon {
    position: absolute;
    left: 20px;
    top: 20px;
    display: none;
}
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

#content {
flex: 1;
}

/* Footer */
#footer {
    background-color: black;
    /* color: white;
    padding: 20px; */
    display: flex;
    flex-wrap: wrap;
}

.footer-element {
    text-align: center;
    width: 25%;
    color: white;
    padding: 20px;
}

#footer a {
    text-decoration: underline;
    color: white;
}

#footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* For the mobile nav-bar */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
    }

@media screen and (max-width: 767px) {
    /* li a {
        font-size: 1rem;
    }
    li {
        margin: 0.5rem;
    } */
    h1 {
        font-size: 3rem;
    }
    .footer-element {
        width: 100%;
    }

    /* Mobile nav-bar */
    .nav-icon {
        display: block;
    }
    a.active {
        border: none;
        text-decoration: underline;
    }
    #header ul {
        display: none;
    }
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    li a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1023px) {
  #content {
    margin-top: 30px;
  }
}
